
    <!-- <head>
        <title>Tactical Waters</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
       
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        
    </head> -->
    
<script src = './plugins/socket.io3.1.3.min.js'></script>
<script src = './scripts/game.js'></script>
<script src = './scripts/chat.js'></script>
<script src = './scripts/GameScripts/ShipScripts/Ship.js'></script>

<div id="debug" style="display:none;"></div>
<div class="bg-secondary">
    <div id="canvas-wrapper" style="margin: 0 auto;">
        <canvas id="canvas" width="700" height="500" style="border:1px solid #000000; background-color: blue;"></canvas>
    </div>    
    <div id="zoomcard" class="card" style="float:right; font-size: small; margin-right: 15px;">
        <div class="card-body">
            <label>Zoom:</label><label id="zoom"></label>
            <div>
                <button onclick="IncreaseZoom();" class="btn">+</button>
                <button onclick="DecreaseZoom();" class="btn">-</button>
            </div>
        </div>
    </div>
    <div id="weaponcard" class="card bg-secondary" style="float:right; font-size: small; margin-right: 15px;">
        <div class="card-body">
            <label>Weapon Info:</label>
            <div id="weaponinfo"><label>No Info</label></div>
            <div class="btn-group-md d-grid gap-1">
                <button onclick="NextWeapon();" class="btn btn-primary">Next</button>
                <button onclick="PrevWeapon();" class="btn btn-primary">Prev</button>
            </div>
        </div>
    </div>
    <div id="targetcard" class="card bg-secondary" style="float:right; font-size: small; margin-right: 15px;">
        <div class="card-body">
            <label class="card-title">Target Info:</label>
            <p id="targetinfo"><label>No Target</label></p>
            <div class="btn-group-md d-grid gap-1">
                <button onclick="Fire();" class="btn btn-danger">Fire</button>
                <button onclick="ClearTarget();" class="btn btn-primary">Clear</button>
            </div>
        </div>
    </div>
    <div id="linkcard" class="card bg-secondary" style="float:right; font-size: small; margin-right: 15px;">
        <div class="card-body">
            <label class="card-title">Link Info:</label>
            <div class="btn-group-md d-grid gap-1">
                <button onclick="" class="btn btn-success">Link</button>
                <button onclick="" class="btn btn-primary">Clear</button>
            </div>
            <p id="targetinfo"><label>No Links</label></p>
        </div>
    </div>
    <div id="shipimage" class="shipbg">
        <img class="ship" alt="ship">
    </div>
    <div class="chat">
        <div id="messagecard" class="card">
            <div id="chatbox" class="card-body chatbody"></div>
            <input id="message" class="form-control" placeholder="input message"/>
            <div class="card-footer">
                <button onclick='SendMessage();'   class="btn btn-success" >Send</button>
                <button onclick='ClearMessages();' class="btn btn-warning" >Clear</button>
            </div>
        </div>
    </div>
    <div id="port" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalporthead"></h5>
          </div>
          <div class="modal-body" id="modalportbody">
              <div id="repair" class="row">
                  <h4 class="col-md-3">Module</h4>
                  <h4 class="col-md-5">Cost</h4>
                  <h4 class="col-md-3"></h4>
              </div>
              <div id="repair" class="row" style="padding-top:0.25em; padding-bottom:0.25em;">
                <label class="col-md-3">Repair</label>
                <label id="repaircost" class="col-md-5">15</label>
                <button class="col-md-3 btn btn-sm btn-warning">Repair</button>
              </div>
              <div id="rearm" class="row" style="padding-top:0.25em; padding-bottom:0.25em;">
                <label class="col-md-3">Rearm</label>
                <label id="rearmcost" class="col-md-5">95</label>
                <button class="col-md-3 btn btn-sm btn-warning">Rearm weapons</button>
              </div>
              <div id="upgrade" class="row" style="padding-top:0.25em; padding-bottom:0.25em;">
                <label class="col-md-3">Purchase</label>
                <select id="upgradeselect" class="col-md-5">
                    <option value="na">Select One</option>
                </select>
                <button class="col-md-3 btn btn-sm btn-primary">Preview</button>
              </div>
              <div id="shipstats" style="display:none;">
                <div class="row"> 
                    <label class="row-md-4">Class</label>
                    <label id="shipclass" class="row-md-4"></label>
                </div>
                <div class="row">
                    <label class="row-md-4">Cost</label>
                    <label id="shipcost" class="row-md-4"></label>
                </div>
                <div class="row">
                    <label>Preview</label>
                </div>
                <div class="row">
                    <img src="" alt="ship preview"/>
                </div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="CloseOptions();">Close</button>
          </div>
        </div>
      </div>
    </div>
</div>