:root {
    --frigate: url('./assets/images/Ships/FFG.png');
    --waterColor: blue;
    --skyColor: aqua;
    --cloudColor: whitesmoke;
    --shipRockSpeed: 5s;
}

.shipbg {
    position: absolute;
    bottom: 5px;
    right: 5px;
    max-width:300px;
    max-height: 150px;
    border: 1px solid;
    background-image: linear-gradient(var(--cloudColor), var(--skyColor), var(--waterColor));
}

.ship {
    max-width:300px;
    max-height: 150px;
    content: var(--frigate);
    animation: shipRock var(--shipRockSpeed) linear;
    animation-iteration-count: infinite;
}

.chat {
    position: absolute;
    bottom: 15px;
    left: 25px;
    font-size: small;
}

.chatbody {
    border: 1px solid;
    width:16em;
    height:225px;
    overflow-y:scroll;
}

@keyframes shipRock {
    0% {
      transform: rotate3d(0);
    }
    25% {
      transform: rotate3d(0, 1, 1, -1deg);
    }
    50% {
        transform: rotate3d(0);
    }
    75% {
        transform: rotate3d(0, 1, 1, 1deg);
    }
    100% {
        transform: rotate3d(0);
    }
}

@keyframes shiphit {
    0% {
        transform: rotate3d(0);
    }
    25% {
        transform: rotate3d(0, 1, 1, -1deg);
    }
    50% {
        transform: rotate3d(0);
    }
    75% {
        transform: rotate3d(0, 1, 1, 1deg);
    }
    100% {
        transform: rotate3d(0);
    }
}