<script src="./scripts/login.js"></script>

<div class="card" style="background-color: white; margin-top: 25%;">            
    <div id="title" class="card-title" style='text-align: center;'>
        <h2>
            Tactical Waters
        </h2>
        <br/>
        <h4>
            Login
        </h4>
    </div>
    <div id="newaccount" style="display: none;" class="card-body">
        <div class="mb-3">
            <label for="newusername" class="form-label">User</label>
            <input type="text" class="form-control" id="newusername">
        </div>
        <div class="mb-3">
            <label for="newpassword" class="form-label">Password</label>
            <input type="password" class="form-control" id="newpassword">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" >
            <div id="emailHelp" class="form-text">Only used in case you forget your password.</div>
        </div>
        <div>
            <button onclick='CreateNew();' class="btn btn-success">Create</button>
            <button class="btn btn-danger" onclick="ShowNew();"> Cancel </button>
        </div>
    </div>
    <div id="signin" class="card-body">
        <div class="mb-3">
            <label for="username" class="form-label">User</label>
            <input type="text" class="form-control" id="username">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password">
        </div>
    </div>
    <div id="buttons" class="card-footer">
        <button class="btn btn-primary" onclick="Login();"> Login </button>
        <button class="btn btn-primary" onclick="ShowNew();"> Create New Account </button>
    </div>
</div>